<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #89ABE3;">
    <div style="background-color: #89ABE3; color: #741d97; height: 100vh; display: flex; align-items: center; flex-direction: column; justify-content: center;">
        <h1 style="font-size: 4rem; font-family: fantasy;">NIRMALA FARMS</h1>
        <h2>A hassle-free way to buy fresh vegetables</h2>
        <form action="/shop" method="GET">
            <input style="font-size: 30px; border: none; height: 60px; width: 200px; color: #89ABE3; background-color: #741d97;" type="submit" value="SHOP NOW">
        </form>
    </div>
</body>
</html>